<p class="text-center text-muted">There is no such thing as long url.</p>
<script type="text/javascript" src="../scripts/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../scripts/main.js"></script>