<!DOCTYPE html>
<html>
<head>
	<%- include('../partials/header') %>
</head>

<body>
    <div class="container">
        <div class="header clearfix">
            <h3 class="text-muted">Url Shortener</h3>
        </div>
        <div class="col-md-12">
            <div class="input-group">
                <input class="form-control input-lg" id="enteredUrl" type="text" placeholder="Copy the url here ..">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-lg" type="button" onclick="LetsMakeItShort()">Shorter Url!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-md-12 -->
    </div><!-- /.container -->
    <div class="container output">
        <div id="outputDiv" class="panel panel-default" style="visibility:hidden">
            <div class="panel-heading text-center">
                <h3 class="panel-title">The Shorter Url</h3>
            </div>
            <div class="panel-body">
                <h4 id="outputUrl" class="text-center"></h4>
            </div>
        </div><!-- /.panel -->
    </div><!-- /.outputDiv -->
    <footer class="footer">
		<%- include('../partials/footer') %>
    </footer>
</body>
</html>
