<!DOCTYPE html>
<html>
<head>
	<link href="../stylesheets/jumbotron-narrow.css" rel="stylesheet">
	<link href="../stylesheets/bootstrap.css" rel="stylesheet">
	<link href="../stylesheets/main.css" rel="stylesheet">
</head>

<body>

            <div class="container">
                <div class="header clearfix">
                    <nav>
                        <ul class="nav nav-pills pull-right"></ul>
                    </nav>
                    <h3 class="text-muted">

                    Cem Yabansu

                    </h3>
                </div>
                <div class="jumbotron">
                    <h1>

                    Hello

                    </h1>
                    <p class="lead">

                    There is no content yet.

                    </p>
                </div>
                <div class="row marketing">
                    <div class="col-sm-12 jumbotron">
                        <h4>

                        Contact me on

                        </h4>
                        <br></br>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel-links text-center">
                            <a target="_blank" href="https://github.com/cemyabansu">
                                <img alt="GitHub" src="../images/github.png"></img>
                                <span class="btn btn-link">

                                GitHub

                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel-links text-center">
                            <a target="_blank" href="https://linkedin.com/in/cemyabansu">
                                <img alt="LinkedIn" src="../images/linkedin.png"></img>
                                <span class="btn btn-link">

                                LinkedIn

                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"></link>
                    <p class="text-center text-muted">

                    Never stop exploring.

                    </p>
                </footer>
            </div>
</body>
</html>
